
CodeOrderAPI/.vs/CodeOrderAPI/v17/.suo
CodeOrderAPI/.vs/CodeOrderAPI/FileContentIndex/d8d745f0-eb5c-443b-90e6-c65ac77b54b4.vsidx
CodeOrderAPI/.vs/CodeOrderAPI/FileContentIndex/d869e44c-a6fb-4ee6-8841-2675ae29d562.vsidx
CodeOrderAPI/.vs/CodeOrderAPI/FileContentIndex/984bfeb5-dc9a-4a8d-8515-004c2cca4e52.vsidx
CodeOrderAPI/.vs/CodeOrderAPI/FileContentIndex/8cc39e3f-7f4a-4f1b-befe-864e7ed9b93c.vsidx
CodeOrderAPI/.vs/CodeOrderAPI/FileContentIndex/3e548863-e790-42e2-a496-c787c6338eed.vsidx
